*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;

    background-image: url(./images/Picture2.jpg);
    background-position: center;

    background-size: cover;
    height: 100vh;
}
h2{
    text-align: center;
}
.navbar{
    width: 1200px;
    
    margin: auto;
    height:75px;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: rgb(144, 29, 29);
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 18px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
}

ul li a:hover{
    color: rgb(58, 39, 10);
}


.servicepage{
    background-image: url("./images/Picture3.jpg");
    width: 100%;

   
    background-position: center;

    background-size: cover;
    
    height: 100vh;
}
    
.aboutus{
    background-image: url("./images/Picture5.jpg");
    width: 100%;

   
    background-position: center;

    background-size: cover;
    
    height: 80vh;
}
h2{
    color: bisque;
    text-align: left;
}
p{
    color: rgb(246, 237, 237);
    text-align: justify;
}
footer{
    background-color: rgb(101, 143, 34);
    text-align: center;
}